  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rokkitt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white:#EDE9D5;
  --pink1:#db9393;
  --gray: #23272E;
  --orange:#f05123;
  --blue:#03e9f4;
  --blue1:#93BFCF;
  --pink: #FBC5C5;
  --green:#00ff55;
  --red: #E96479;

}
html {
  width: 100vw;
  height: 100vh;
  background: var(--pink);
  text-align: center;  
}

body{
  overflow: hidden;
  position: relative;
  height: 100%;
}

.svg{
  border-style: none;
}
.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  div-align: center;
  height: 100%;
  z-index: 5;
}
.container.active .letter{ 
  display: block; 
  animation: Appear 1.5s backwards;
}
@keyframes Appear {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.container .letter{
  cursor: url(./cursor/iconmonstr-flower-4.svg),auto;
  display: none;
  position: absolute;
  background-color: var(--white);
  width:50%;
  height: fit-content;
  border-radius: 2rem;
  z-index: 1;
  padding: 4rem;
}

.container .flower{
  position: absolute;
  left: 0;
  bottom: 0;
  rotate: -10deg;
  z-index: -1;
}

.container .flower img {
  height: 150px;
}

.container .letter h2{
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: var(--gray);
  margin-top: 1.2rem;
}
.container .letter p{
  color: var(--orange);
  /* padding: 5rem; */
  font-size: 1.3rem;
  /* font-family: 'Sono', serif; */
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  height: fit-content;
  position: relative;
}

#pen{
  height: 1px;
  position: relative;
}

#pen img{
  width: 30px;
  rotate: 50deg;
  position: absolute;
  left:  0;
  bottom: 0;
  animation: writing .5s infinite;
}

@keyframes writing{
  0%{
    translate: 0 0;
    rotate: 50deg;

  }
  30%{
    rotate: 40deg;

    translate: 0 10px;
  }
  60%{
    rotate: 60deg;
  }
  100%{
    translate:0 0;
    rotate: 50deg;

  }
}

.container > p{
  top: 2rem;
  /* font-family: 'Tilt Neon', cursive; */
  font-family: "Pattaya", sans-serif;
  color: var(--orange);
  font-size: 3rem;
  
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px var(--gray);
  padding: 2rem;
}
.container > p:hover{
  cursor: url(./cursor/iconmonstr-favorite-8.svg), auto;
  color: var(--white);
  text-shadow: 0 0 5px var(--blue),
  0 0 25px var(--blue),
  0 0 50px var(--blue),
  0 0 75px var(--blue),
  0 0 100px var(--blue);
}
  /*Snow*/
  @-webkit-keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @-webkit-keyframes snowflakes-shake {
    0%,100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50% {-webkit-transform:translateX(80px);transform:translateX(80px)}
  }
  @keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @keyframes snowflakes-shake {
    0%,100%{ transform:translateX(0)}
    50% {transform:translateX(80px)}
  }
  .snowflake {
    color: #fff;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running;
  }
  .snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
  }
  .snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
  }
  .snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
  }
  .snowflake:nth-of-type(3){
    left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
  }
  .snowflake:nth-of-type(4){
    left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
  }
  .snowflake:nth-of-type(5){
    left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
  }
  .snowflake:nth-of-type(6){
    left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
  }
  .snowflake:nth-of-type(7){
    left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
  }
  .snowflake:nth-of-type(8){
    left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
  }
  .snowflake:nth-of-type(9){
    left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
  }
  .snowflake:nth-of-type(10){
    left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s
  }
  .snowflake:nth-of-type(11){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }

  .snowflake:nth-of-type(12){
    left:45%;-webkit-animation-delay:5s,2.5s;animation-delay:5s,2.5s
  }

  .snowflake:nth-of-type(13){
    left:15%;-webkit-animation-delay:3s,2.5s;animation-delay:3s,2.5s
  }

  .snowflake:nth-of-type(14){
    left:80%;-webkit-animation-delay:3.5s,2.5s;animation-delay:3.5s,2.5s
  }

  .snowflake:nth-of-type(15){
    left:11%;-webkit-animation-delay:2s,2.5s;animation-delay:2s,2.5s
  }

  .snowflake:nth-of-type(16){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }

  .snowflake:nth-of-type(17){
    left:45%;-webkit-animation-delay:5.5s,2.5s;animation-delay:5.5s,2.5s
  }

  .snowflake:nth-of-type(18){
    left:75%;-webkit-animation-delay:3s,2.5s;animation-delay:3s,2.5s
  }

  .snowflake:nth-of-type(14){
    left:80%;-webkit-animation-delay:6s,2.5s;animation-delay:6s,2.5s
  }

  .snowflake:nth-of-type(15){
    left:73%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }

  #w{
    animation: bounce 3s 0s infinite;
  }
  
  #o{
    animation: bounce 3s .4s infinite;
  }
  
  #m{
    animation: bounce 3s .8s infinite;
  }
  
  #aa{
    animation: bounce 3s 1.2s infinite;
  }
  
  #n{
    animation: bounce 3s 1.6s infinite;
  }

  @keyframes bounce {
    0%{
      translate: 0 0;
      scale: 1;
    }

    10%{
      translate: 0 -1.6rem;
    }

    20%{
      translate: 0 0;
      scale: 1;
    }
  }



  /* .letter .icon {
    height: 15%;
  } */

  .letter .icon img{
    width: 100px;
  }

  #canvas_fw{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;bottom: 0;
    padding: 0;
    margin: 0;
  }

  .p1{
    opacity: 0;
    animation: fadeIn 1s 2s ease forwards;
  }

  .p2{
    opacity: 0;
    animation: fadeIn 1s 4s ease forwards;
  }

  html{
    background-color: #000000;
    animation: fadeInBG 3s 6s forwards;
  }

  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes fadeInBG {
    from{
      background-color: #000000;
    }
    to{
      background-color: var(--pink);
    }
  }
#canvas_flower{
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%;
  width: 100%; */
  z-index: 6;
}

#interactZone {
  position: fixed;
  top: calc(50% - 30vw);
  left: calc(20%);
  width: 60%;
  aspect-ratio: 1;
  z-index: 99;
  cursor: pointer;
}

#recommendClick{
  position: absolute;
  bottom: 20%;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 0 0 5px #02020266;
  opacity: 0;
  animation: fadeIn 1s 5s ease forwards;
}



@keyframes recommend {
  0%{
    opacity: .8;
    scale: 1;
  }
  50%{
    scale: 1.06;
    opacity: 1;
  }
  100%{
    scale: 1;
    opacity: .8;
  }
}